In [ ]:
#Lists in python

In [3]:
x = [2, 'a', 4.5, False]
print(x)

[2, 'a', 4.5, False]

In [4]:
print(type(x))
print(type(x[0]))
print(type(x[1]))
print(type(x[2]))
print(type(x[3]))

<class 'list'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [5]:
print(list(range(10)))
print(list(range(1,5)))
print(list(range(1,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [1]:
myList = [3.44, 44.34, 23.23, 32.1, 35,46,69,70]
print(myList)

[3.44, 44.34, 23.23, 32.1, 35, 46, 69, 70]

# List Slicing
##myListlist[inclusive:exclusive]

In [15]:
print(myList[0])
print(myList[2:7])
print(myList[3:])
print(myList[:6])
print(myList[-8])
print(myList[-8:-5])

3.44
[23.23, 32.1, 35, 46, 69]
[32.1, 35, 46, 69, 70]
[3.44, 44.34, 23.23, 32.1, 35, 46]
3.44
[3.44, 44.34, 23.23]

In [2]:
#Linear search to search for an element in the list
myList = [5,4,3,7,90,100]
search = 90
found = False
for item in myList:
    if item == search:
        found = True
        print("Item found")
        break
if found == False:
    print("Item not found")

Item found

In [16]:
print(3.44 in myList)
print(3.5 in myList)

True
False

In [ ]:
# in iteravtively checks if the element is present in MyList
# Returns true if its present in the list else it returns faluse
if search in myList:
    print("item found")
else:
    print("item not found")

In [ ]:
# Write program to find the position of all the 90 in the below list
myList = [5,4,3,7,90,100,90,30,40,90]

In [ ]:
# Write a program to find the frequency of occourance 
# of a search element

In [ ]:
#To create an empty list
myList=list()
print(myList)

In [ ]:
#To create an empty list
myList=[]
print(myList)

In [17]:
myList=[]
myList.append(10)
myList.append(20)
myList.append(30)
myList.append(40)
myList

[10, 20, 30, 40]

##### Extract the integer part out of each element in myList

In [ ]:
myList1 = [] 
myList1.append( int(myList[0]))
myList1.append( int(myList[1]))
myList1.append( int(myList[2]))
myList1.append( int(myList[3]))
print(myList1)

In [ ]:
#Using for loops
for element in myList:
    print(element)

In [ ]:
myList2 = []
for each_element in myList:
    myList2.append(int(each_element))
print(myList2)

In [ ]:
myList3 = [int(each_element) for each_element in myList]
print myList3

In [ ]:
#Slicing a list
#list[inclusive:exclusive]

print(a[1:3]) #Print the second and third elements
print(a[3:] )
print(a[:5])
print(a[-1])

In [18]:
#List operations
#concatenate two lists
a = [1,"hi",2,2.0,False]
b = [2,"5",7,9,True]
c = a+b
print(c)

[1, 'hi', 2, 2.0, False, 2, '5', 7, 9, True]

In [19]:
#repeat the elements n times
print(a*3)

[1, 'hi', 2, 2.0, False, 1, 'hi', 2, 2.0, False, 1, 'hi', 2, 2.0, False]

In [24]:
#Sorting list
x = [7,6,4,5,90,75,2,1]
x.sort(reverse = True)
print(x)
x.sort()
print(x)

[90, 75, 7, 6, 5, 4, 2, 1]
[1, 2, 4, 5, 6, 7, 75, 90]

In [ ]:
x = [7,6,4,5,90,75,2,1]
#add a new elements using append
y=["Hello","how","are","you"]
x.append(y) # y will be apended as a list towards the end
print(x)
len(x)

In [ ]:
myList.append(40)
x = [7,6,4,5,90,75,2,1]
#add a new elements using extend
y=["Hello","how","are","you"]
x.extend(y) #add the elements of the new list towards the end
print(x)
len(x)

In [47]:
myList=[]
myList.extend(['10'])
myList.extend([20,25])
myList.append(30)
myList.append(40)
myList

['10', 20, 25, 30, 40]

In [52]:
myList=[]
myList.extend('Hi')
myList.append('Hi')
myList

['H', 'i', 'Hi']

In [ ]:
x = [2, 3.1, 4]
if x[0] == 2:
    print('x[0] is 2')

In [ ]:
if x[1] < 2:
    print 'less than 2'
elif x[1] > 4:
    print 'greater than 4'
else:
    print 'between 2 and 4'

In [ ]:
x = [10,20,30,40,50,60,70,80,90]
print(x[3:])
#x[inclusive:exclusive]

In [64]:
A = [10,20,30,40]
B = [20,30,40,50]
print(A+B)
print(A*2)
A.extend(B) #Same as A =A +B
print(A)

[10, 20, 30, 40, 20, 30, 40, 50]
[10, 20, 30, 40, 10, 20, 30, 40]
[10, 20, 30, 40, 20, 30, 40, 50]

In [ ]:
A= "Python"
count = 0
for char in A:
    count = count +1
print(count)

# List comprehension

In [1]:
#display the first three letters of each country in capital letters
wordList = ["India","Australia","USA","France"]
first3Letters=[]
for word in wordList:
    first3Letters.append(word[:3].upper())
first3Letters

['IND', 'AUS', 'USA', 'FRA']

In [3]:
#[action for var in list filter_condition]
wordList = ['InDIA', 'aUSTRALIA', 'USA', 'frANCE']
first3Letters = [ word[:3].upper() for word in wordList]
print(first3Letters)

['IND', 'AUS', 'USA', 'FRA']

In [3]:
#Write a program to multiply every even number of the list
# by 2 and odd number by 3
lst = [11,12,13,14,15,18,20]
lst1 = []
for num in lst:
    if num %2==0:
        lst1.append(num*2)
    else:
        lst1.append(num*3)
print(lst1)

[33, 24, 39, 28, 45, 36, 40]

In [26]:
#[action for elemenet in list]
# action : num * 2  if num % 2 == 0 else  num * 3
# Action is some operation which is mapped or applied on every element
# for loop : for num in lst
lst1=[num * 2  if num % 2 == 0 else  num * 3 for num in lst]
print(lst1)

[33, 24, 39, 28, 45, 36, 40]

In [4]:
#Write a program to multiply every even number of the list by 2
lst = [11,12,13,14,15,18,20]
lst1 = []
for num in lst:
    if num %2==0:
        lst1.append(num*2)
print(lst1)

[24, 28, 36, 40]

In [ ]:
#apply or action or map : num*2
# filter : only even elements num % 2 ==0
# [action for number in list filter condition]

In [5]:
lst1 = [num*2  for num in lst if num % 2 == 0]
print(lst1)

[24, 28, 36, 40]

In [6]:
lst1+5

TypeError: can only concatenate list (not "int") to list

In [ ]:
# [ action/map/apply for item in list filter_condition]
x = [3, 2, 4, 8]
[elem * 2  if elem % 2 == 0 else  elem * 3 for elem in x]

In [ ]:
x = [3, 2, 4, 8]
[elem*2  for elem in x if elem % 2 == 0]

In [9]:
# Excercise: Display all the elements of a list which is a multiple of 2 and 5
x = [2, 25, 20, 10]
[elem for elem in x if elem % 2 == 0 and elem % 5 ==0]

[20, 10]

In [ ]:
x = [2, 3, 5, 16]
[elem**3 for elem in x if elem % 2 == 0]

# list comprehension assignment

In [ ]:
num = [5,4,7,9,12,15,22,75,100,107]

In [ ]:
# 1. Form a list by dividing every element by 2

In [ ]:
# 2. Form a list for all elements divisible by 5

In [ ]:
#3. Form a  a list of all elements such that dividing even 
# numbers by 2 and odd numbers by 3

In [ ]:
#4. For a list of all even numbers by multiplying by itself

In [ ]:
#5. For all 3 digit number divide the numebr by 2

# This is an assignment soluion

In [ ]:
# 1. Form a list by dividing every element by 2
print([ elem/2 for elem in num])

In [ ]:
# 2. Form a list for all elements divisible by 5 
print([ elem for elem in num if elem % 5 ==0])

In [ ]:
#3. Form a  a list of all elements such that 
# dividing even numbers by 2 and odd numbers by 3
print([elem/2 if elem%2==0 else elem/3 for elem in num])

In [ ]:
#4. For a list of all even numbers by multiplying by itself
print([elem*elem for elem in num if elem%2 ==0])

In [ ]:
#5. For all 3 digit number divide the numebr by 2
print([elem/2 for elem in num if len(str(elem)) == 3])

In [ ]:
#deleting elements from a list by specifying their index
t = ['a', 'b', 'c','d','e','f']
t.pop(2) #specify the index of the element to be removed
print(t)
#try what happens pop()

In [ ]:
#deleting elements from a list by specifying their index
t = ['a', 'b', 'c','d','e','f']
del t[1] #specify the index of the element to be removed
#you can also perform del t[1:5]
print(t)

In [ ]:
#deleting elements from a list by specifying the value
t = ['a', 'b', 'c','d','e','f']
t.remove('d')
print(t)

In [ ]:
# lists are mutable
t = ['a', 'b', 'c','d','e','f']
t[1] = 55
print(t)

In [53]:
age = [10,20,30,40,50]
new_age = age
new_age

[10, 20, 30, 40, 50]

In [54]:
age[1] = 45
age

[10, 45, 30, 40, 50]

In [55]:
new_age

[10, 45, 30, 40, 50]

In [56]:
print(id(age))
print(id(new_age))
#Both age and new age refer to the same memory location

4568189000
4568189000

In [ ]:
del age
print(new_age)

In [ ]:
age = [10,20,30,40,50]
new_age=age.copy()

In [ ]:
print(id(age))
print(id(new_age))

In [ ]:
age[4] = 90
print(age)
print(new_age)